body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color:rgb(249, 255, 169);
}

header {
    background-color: rgb(255, 225, 58);
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 36;
}

#button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#results {
    display: flex;
    flex-direction: row;
    padding:10px;
    justify-content: center;
}

.die {
    background-color: rgb(255, 225, 58);
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
    text-align: center;
}

.die input[type="text"] {
    text-align: right;
    font-size: 55;
    width: 1.5em;
}